.b-fixed-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10;
}

.b-fixed-section__section-counter {
    position: absolute;
    left: 25px;
    top: 30px;
    pointer-events: fill;
}

.b-fixed-section__circle-socials {
    position: absolute;
    right: 25px;
    bottom: 30px;
    pointer-events: fill;
}

.b-section-counter {}

.b-section-counter__title {
    font-size: 12px;
    line-height: 12px;
    color: $lightColor;
    margin-bottom: 6px;
}

.b-section-counter__list {
    margin-bottom: 6px;
    border-left: 1px solid $lightColor;
    border-top: 1px solid $lightColor;
    padding-bottom: 30px;
    padding-left: 10px;
    max-width: 30px;
}

.b-section-counter__line {
    width: 100%;
    height: 1px;
    padding-top: 10px;
    transition: $transition;
    position: relative;
    cursor: pointer;
    &.active {
        &:before {
            background: linear-gradient(to right, #998349, #f2e9a6);
        }
        &:after {
            color: #f2e9a6;
        }
    }
    &.disabled {
        opacity: 0.6;
    }
    &:after {
        content: attr(data-text);
        color: #fff;
        position: absolute;
        left: calc(100% + 5px);
        top: 100%;
        transform: translate3d(0, 0, 0);
        font-size: 10px;
        opacity: 0;
        transition: $transition;
        white-space: nowrap;
    }
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: #fff;
    }
    &:hover {
        width: calc(100% + 2px);
        &:after {
            opacity: 1;
            transform: translate3d(0, -50%, 0);
        }
    }
}

.b-section-counter__counter {
    user-select: none;
    color: #828282;
    font-size: 10px;
}

.b-section-counter__counter-current {
    color: $lightColor;
    font-size: 12px;
}

.b-section-counter__counter-total {}

.b-circle-socials {
    @include flex-row;
    @include flex-center;
    width: 90px;
    height: 90px;
    overflow: hidden;
    transform: rotate(-45deg);
    border-radius: 50%;
}

.b-circle-socials__block {
    text-shadow: 0 3px 9px rgba(#f2e9a6, .05);
    @include fz(36px, 36px);
    height: 45px;
    width: 45px;
    @include flex-row;
    padding: 12px;
    color: #998349;
    & i {
        @media screen and (-webkit-min-device-pixel-ratio: 0) {
            background: linear-gradient(to bottom, #998349, #f2e9a6, #998349);
            -webkit-background-clip: text;
            color: transparent;
        }
        transform: rotate(45deg);
    }
}

.b-circle-socials_bottom-right {
    align-items: flex-end;
    justify-content: flex-end;
}

.b-circle-socials_bottom-left {
    align-items: flex-end;
    justify-content: flex-start;
}

.b-circle-socials_top-right {
    align-items: flex-start;
    justify-content: flex-end;
}

.b-circle-socials_top-left {
    align-items: flex-start;
    justify-content: flex-start;
}

.b-circle-socials__block_bg-dark-grey {
    background-color: #0e0e0e;
}

.b-circle-socials_color-opacity {
    opacity: 0.44;
}

.b-circle-socials__block_bg-light-grey {
    background-color: #151515;
}

.b-circle-socials__block_bg-transpatent {
    background-color: transparent;
}

.b-circle-socials__block_fz-big {
    font-size: 16px;
    line-height: 16px;
}

.b-circle-socials__block_fz-norm {
    font-size: 14px;
    line-height: 14px;
}

.b-circle-socials__block_fz-small {}

.b-fixed-bg {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 0;
    height: 100vh;
    width: 100%;
    background-color: #161616;
}

.b-fixed-bg__items {
    position: absolute;
    width: 100%;
    height: 100%;
    // &:after {
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     background: linear-gradient(to bottom, rgba(#000, .75), rgba(#000, 0.45), rgba(#000, .75));
    //     ;
    // }
}

.b-fixed-bg__item {
    position: absolute;
    height: 100%;
    perspective: 1000px;
    &:nth-child(1) {
        width: calc((100vw / 8));
        left: calc((100% / 8) * 0);
        & .b-fixed-bg__item-inner {
            background-position: calc((-100vw / 8) * 0) 50%;
        }
        @include lg {
            width: calc(100vw / 4);
            left: calc((100% / 4) * 0);
            & .b-fixed-bg__item-inner {
                background-position: calc((-100vw / 4) * 0) 50%;
            }
        }
        @include sm {
            width: calc(100% / 2);
            left: calc((100% / 2) * 0);
            & .b-fixed-bg__item-inner {
                background-position: calc((-100vw / 2) * 0) 50%;
            }
        }
    }
    &:nth-child(2) {
        width: calc((100vw / 8));
        left: calc((100% / 8) * 1);
        & .b-fixed-bg__item-inner {
            background-position: calc((-100vw / 8) * 1) 50%;
        }
        @include lg {
            width: calc(100vw / 4);
            left: calc((100% / 4) * 1);
            & .b-fixed-bg__item-inner {
                background-position: calc((-100vw / 4) * 1) 50%;
            }
        }
        @include sm {
            width: calc(100% / 2);
            left: calc((100% / 2) * 1);
            & .b-fixed-bg__item-inner {
                background-position: calc((-100vw / 2) * 1) 50%;
            }
        }
    }
    &:nth-child(3) {
        width: calc((100vw / 8));
        left: calc((100% / 8) * 2);
        & .b-fixed-bg__item-inner {
            background-position: calc((-100vw / 8) * 2) 50%;
        }
        @include lg {
            width: calc(100vw / 4);
            left: calc((100% / 4) * 2);
            & .b-fixed-bg__item-inner {
                background-position: calc((-100vw / 4) * 2) 50%;
            }
        }
        @include sm {
            display: none;
        }
    }
    &:nth-child(4) {
        width: calc((100vw / 8));
        left: calc((100% / 8) * 3);
        & .b-fixed-bg__item-inner {
            background-position: calc((-100vw / 8) * 3) 50%;
        }
        @include lg {
            width: calc(100vw / 4);
            left: calc((100% / 4) * 3);
            & .b-fixed-bg__item-inner {
                background-position: calc((-100vw / 4) * 3) 50%;
            }
        }
        @include sm {
            display: none;
        }
    }
    &:nth-child(5) {
        width: calc((100vw / 8));
        left: calc((100% / 8) * 4);
        & .b-fixed-bg__item-inner {
            background-position: calc((-100vw / 8) * 4) 50%;
        }
        @include lg {
            display: none;
        }
    }
    &:nth-child(6) {
        width: calc((100vw / 8));
        left: calc((100% / 8) * 5);
        & .b-fixed-bg__item-inner {
            background-position: calc((-100vw / 8) * 5) 50%;
        }
        @include lg {
            display: none;
        }
    }
    &:nth-child(7) {
        width: calc((100vw / 8));
        left: calc((100% / 8) * 6);
        & .b-fixed-bg__item-inner {
            background-position: calc((-100vw / 8) * 6) 50%;
        }
        @include lg {
            display: none;
        }
    }
    &:nth-child(8) {
        width: calc((100vw / 8));
        left: calc((100% / 8) * 7);
        & .b-fixed-bg__item-inner {
            background-position: calc((-100vw / 8) * 7) 50%;
        }
        @include lg {
            display: none;
        }
    }
}

.b-fixed-bg__item-inner {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: 100vw;
    background-repeat: no-repeat;
    @include to(1330px) {
        background-size: cover;
        background-position: center;
    }
}

.b-fixed-bg__lines {
    position: absolute;
    width: 100%;
    height: 100%;
}

.b-fixed-bg__line {
    position: absolute;
    height: 80%;
    width: 1px;
    background: linear-gradient(to bottom, transparent, #f2e9a6, transparent);
    top: 50%;
    transform: translate3d(0, -50%, 0);
    opacity: 0.1;
    &:nth-child(1) {
        left: calc((100% / 8) * 1);
        @include lg {
            left: calc((100% / 4) * 1);
        }
        @include sm {
            left: calc(100% / 2);
        }
    }
    &:nth-child(2) {
        left: calc((100% / 8) * 2);
        @include lg {
            left: calc((100% / 4) * 2);
        }
        @include sm {
            display: none;
        }
    }
    &:nth-child(3) {
        left: calc((100% / 8) * 3);
        @include lg {
            left: calc((100% / 4) * 3);
        }
        @include sm {
            display: none;
        }
    }
    &:nth-child(4) {
        left: calc((100% / 8) * 4);
        @include lg {
            display: none;
        }
    }
    &:nth-child(5) {
        left: calc((100% / 8) * 5);
        @include lg {
            display: none;
        }
    }
    &:nth-child(6) {
        left: calc((100% / 8) * 6);
        @include lg {
            display: none;
        }
    }
    &:nth-child(7) {
        left: calc((100% / 8) * 7);
        @include lg {
            display: none;
        }
    }
}