.b-advantages {}

.b-advantages_small {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.b-advantages__content {}

.b-advantages__title {}

.b-advantages__list {
    @include flex-row;
    @include row;
}

.b-advantages__item {
    margin: 15px;
    width: calc(((100% / 10) * 2) - 30px);
    @include col-md(4);
    @include col-sm(6);
    @include col-xs(10);
    @include xs {
        margin-left: auto;
        margin-right: auto;
    }
    @include col-mobile(12);
}

.b-advantages__item_small {
    @include col(3);
    @include col-md(4);
    @include col-sm(6);
    @include col-xs(10);
    @include xs {
        margin-left: auto;
        margin-right: auto;
    }
    @include col-mobile(12);
}

.b-advantages__item-icon {
    max-height: 73px;
    width: auto;
    margin-bottom: 25px;
    @include xs {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.b-advantages__item-title {
    font-weight: 500;
    @include fz(15px, 18px);
    margin-bottom: 15px;
    @include xs {
        text-align: center;
    }
}

.b-advantages__item-desc {
    font-weight: 100;
    @include fz(14px, 20px);
    @include xs {
        text-align: center;
    }
}