.b-salam {}

.b-salam__contant {
    position: relative;
}

.b-salam__title {
    max-width: 920px;
    margin-left: auto;
    margin-right: 5vw;
    @include xs {
        margin-right: auto;
    }
}

.b-salam__text {
    font-weight: 100;
    font-size: 14px;
    line-height: 22px;
    & p {
        @include inh;
        margin: 0;
        padding: 0;
        margin-bottom: 30px;
    }
    max-width: 920px;
    margin-left: auto;
    margin-right: 5vw;
    @include xs {
        text-align: center;
        margin-right: auto;
    }
}

.b-salam__iamge {
    position: absolute;
    right: calc(((50% / 2) + 370px));
    top: 50%;
    transform: translate3d(-100%, -50%, 0);
    max-width: 350px;
    width: 100%;
    & img {
        width: 100%;
        height: auto;
    }
}